@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

:root {
	--color-white: #f3f3f3;
	--color-darkblue: #1b1b32;
	--color-darkblue-alpha: rgba(27, 27, 50, 0.8);
	--color-green: #37af65;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	background: url(https://source.unsplash.com/random/1920x1080) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Antonio', sans-serif;
	font-style: normal;
}

/* Container */
.container {
	max-width: 700px;
	color: var(--color-white, #fff);
	font-size: 14px;
	margin: 50px auto;
}

header {
	text-align: center;
}

/* Header */
header #title {
	line-height: 1em;
	font-size: 2.5rem;
}

header #description {
	font-size: 1.2rem;
	font-style: italic;
	line-height: 0em;
}

header #title,
header #description {
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

/* Form */
#survey-form {
	display: grid;
	gap: 20px;
	padding: 35px;
	background-color: rgba(27, 27, 50, 0.8);
	margin-top: 35px;
}

#survey-form label,
.form-group p {
	font-size: 1.2em;
	margin: 10px 0;
}

.form-group {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='number'],
.form-group textarea {
	height: 30px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
}

.form-group select {
	height: 40px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
}

.form-group textarea {
	height: 100px;
}

/* Button */
.form-group button {
	background-color: var(--color-green, #37af65);
	border: none;
	color: var(--color-white, #fff);
	border-radius: 3px;
	padding: 15px 0;
	cursor: pointer;
	margin-bottom: 50px;
}
