@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

:root {
	--color-white: #f3f3f3;
	--color-darkblue: #1b1b32;
	--color-darkblue-alpha: rgba(27, 27, 50, 0.8);
	--color-green: #37af65;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	background: url(https://source.unsplash.com/random/1920x1080) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Antonio', sans-serif;
	font-style: normal;
	display: grid;
	place-content: center;
}

/* Container */
.container {
	border-radius: 5px;
	color: var(--color-white, #fff);
	font-size: 14px;
	margin: 100px;
}

header {
	display: grid;
	place-content: center;
	text-align: center;
}

/* Header */
header #title {
	line-height: 1px;
}

header #description {
	font-style: italic;
}

header #title,
header #description {
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

/* Form */
#survey-form {
	padding: 20px;
	width: 500px;
	background-color: rgba(27, 27, 50, 0.8);
}

.form-group {
	display: grid;
	justify-content: center;
}

.form-group label,
.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='number'] {
	margin: 5px 0;
	height: 20px;
	width: 470px;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

.form-group select {
	margin: 5px 0;
	height: 35px;
	width: 475px;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

/* Radio */

.label input {
	width: 30px;
}

/* Button */
.form-group button {
	width: 465px;
	margin: 20px 0;
	background-color: var(--color-green, #37af65);
	border: none;
	color: var(--color-white, #fff);
	border-radius: 3px;
	padding: 10px 32px;
	cursor: pointer;
}

/* Responsive Breakpoint */
@media (max-width: 600px) {
	.container {
		max-width: 540px;
		margin: 15px 25px;
	}

	#survey-form {
		width: 350px;
	}

	.form-group label,
	.form-group input[type='text'],
	.form-group input[type='email'],
	.form-group input[type='number'],
	.form-group select {
		width: 350px;
	}

	.form-group select {
		width: 355px;
	}

	.label input {
		width: 50px;
	}

	.form-group textarea {
		width: 320px;
	}

	.form-group button {
		width: 340px;
	}
}
